extends ../layout

block contenido

    -const med = medico[0]

    h2= med.nombre_completo
    h2= med.dni
    table.table.table-bordered.table-hover
        thead.thead-light
            tr
                th Matricula
                th Especialidad
                th Acciones
        tbody
             each medi in medicos
                tr
                td= medi.matricula
                td= medi.nombre_especialidad
                td
                  form(action="/medico/desactivarespecialidad/" + medi.matricula, method="post")
                      button(type="submit") Desactivar
                      

                       
    h2 Agregar especialidad
  
    form(action="/medico/nuevaespecialidad" method="post")
        input(name="matricula", type="number", placeholder="Ingrese Matricula" required)
        br
        input(name="clave_medico", type="hidden", value= `${med.clave_medico}`, required)
        br
        input(name="dni", type="hidden", value= `${med.dni}`, required)
        br
        label(for='especialidad') Especialidad
        
        select#especialidadInput.form-control(name='clave_especialidad')
            each especialidad in especialidades
               option(value=`${especialidad.clave_especialidad}`)= especialidad.nombre_especialidad


        input(type="submit" value="Agregar")

   
