extends ../layout

block contenido

    form(action="/medico" method="post")
        input(type="hidden" name="dni" value=dni)
        input(type="hidden" name="exist" value=exist)
        if !exist 
            input(name="nombre_completo", type="text", placeholder="Ingrese un nombre" required)
            br
            input(name="telefono", type="Number", placeholder="Ingrese un telefono" required)
            br
            input(type="mail", name="mail", placeholder="juan@mail.com" required)
        else 
            input(type="hidden" name="nombre_completo" value=result.nombre_completo)
            input(type="hidden" name="telefono" value=result.telefono)
            input(type="hidden" name="mail" value=result.mail)
            h2 Datos ya ingresados. Dar de alta 
        input(type="submit" value="Agregar")