doctype html
html
  head
    title Crear nueva agenda
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")  
  body
    div.container.mt-5
      h1.text-center Horarios de la Agenda

      table.table.table-bordered.table-hover
        thead.thead-light
          tr
            th Día
            th Horario 
            th Acción
        tbody
          each horario in agenda
            tr
              td= horario.fecha
              td= horario.hora_inicio
              td
                button.btn.btn-outline-primary(type='button', onclick=`seleccionarHorario('${horario.fecha}', '${horario.hora_inicio} ', '${horario.clave_horarios}')`) Seleccionar

    script.
      function seleccionarHorario(fecha, hora_inicio, clave) {
        
        const dni = prompt("Para solicitar turno debe estar registrado en el sistema. Ingrese su DNI:");

        
        if (dni) {
          alert(`Horario seleccionado: ${fecha} ${hora_inicio} con DNI: ${dni}`);

          fetch('/seleccionar', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({  hora_inicio, dni , clave}) 
          })
          .then(response => {
            if (response.ok) {
              return response.json();
            }
            throw new Error('Error al seleccionar horario');
          })
          .then(data => {
            alert(data.message);
          })
          .catch(error => {
            console.error('Error:', error);
            alert('Ocurrió un error al seleccionar el horario.');
          });
        } else {
          alert('Debe ingresar un DNI para continuar.');
        }
      }
