extends ../layoutOp


block contenido     
    h1  Agendas
        h3.form-control-lg Seleccione la especialidad a buscar

        form.form-control-lg(action="/seleccionar/agendas/especialidad" method="get")

            select#especialidadInput.form-control-lg(name='clave_especialidad')
                each especialidad in especialidades
                    option(value=`${especialidad.clave_especialidad}`)= especialidad.nombre_especialidad

            input.btn.btn-primary(type="submit" value="Seleccionar")
        form(action="/seleccionar/agendas/medico" method="get")
        label.form-control-lg Ingrese el nombre del Medico
            input(type='text' name='nombre_completo', require  )
            input.btn.btn-primary(type="submit" value="Buscar")

        .row.row-cols-1.row-cols-md-2.g-4    
            each agenda in agendas


                .col
                    .card.text-center
                        .card-header.text-dark.bg-info 
                            | Dr./Dra.
                        .card-body
                            h4.card-title #{agenda.nombre_completo}
                            h5.card-text #{agenda.nombre_especialidad}
                            br

                            form(method='get' action='/agendas/horario/medico')
                                input(type='hidden' name='clave_agenda', value=agenda.clave_agenda) 
                                input(type='hidden' name='nombre_completo', value=agenda.nombre_completo) 
                                input(type='hidden' name='nombre_especialidad', value=agenda.nombre_especialidad) 
                                button.btn.btn-outline-success.mx-2.p-2(style='width: 200px;' type='submit') Agendar Turno

                            form(method='get' action='/turnos/agenda')
                                input(type='hidden' name='clave_agenda', value=agenda.clave_agenda)
                                button.btn.btn-outline-primary.mx-2.p-2(style='width: 200px;' type='submit') Gestionar Turnos    
                            
                            form(method='get' action='/gestorHorarios')
                                input(type='hidden' name='clave_agenda', value=agenda.clave_agenda)
                                button.btn.btn-outline-info.mx-2.p-2(style='width: 200px;' type='submit') Gestionar Agenda    