extends ../layoutOp

block contenido

  div.container.mx-auto
    h1.text-center#encabezado Turnos del Dr./Dra: #{medico[0].nombre_completo}
    h1.text-center#encabezado Especialidad: #{medico[0].nombre_especialidad}
    br
    if noHayTurnos
      h2.text-center No hay turnos
    br
    h2.text-center Buscar por estado de turno 
    br 
   
    form.mx-5.text-center(action="/agenda/turnos/paciente" method="get")
        input(name="dni" type="text" placeholder="Ingrese Dni" required)
        input(type="hidden" name="clave_agenda" value=clave_agenda)
        button.btn.btn-primary.me-5.p-2(type="submit") Seleccionar   

    h2.text-center Buscar por estado de turno 
    br 
    form.mx-5.text-center(action="/agenda/turnos/estado" method="get" )
      input(type="hidden" name="clave_agenda" value=clave_agenda)
      select#estado_turnos.form-control.text-center(name='clave_estado')
        option(value='0') Todos
        option(value='1') No disponible
        option(value='2') Libre
        option(value='3') Reservada
        option(value='4') Confirmado
        option(value='5') Cancelado
        option(value='6') Ausente
        option(value='7') Presente
        option(value='8') En Consulta
        option(value='9') Atendido
      button.btn.btn-primary.me-5.p-2(type="submit") Seleccionar   

    table.text-center.table.table-bordered.table-hover
      thead.thead-light
        tr
          th Paciente
          th Horario
          th Fecha
          th Estado
          th Cofiguracion
      tbody
        each turno in turnosAgenda
          tr
            td= turno.nombre_completo
            td= turno.hora_inicio  
            td= turno.fecha 
            td= turno.nombre_estado
            td               
              form.mx-5(action="/editar/estado/turno" method="POST" )
                input(type="hidden" name="dni" value=turno.dni)
                input(type="hidden" name="clave_horario" value=turno.clave_horario)
                input(type="hidden" name="clave_agenda" value=clave_agenda)
                select#estado_turnos.form-control.text-center(name='clave_estado')
                  option(value='1') No disponible
                  option(value='2') Libre
                  option(value='3') Reservada
                  option(value='4') Confirmado
                  option(value='5') Cancelado
                  option(value='6') Ausente
                  option(value='7') Presente
                  option(value='8') En Consulta
                  option(value='9') Atendido
                button.btn.btn-primary.me-5.p-2(type="submit") Seleccionar   