extends ../layoutOp

block contenido

  div.container.mt-5
    h1.text-center#encabezado Horarios de la Agenda Medico
  
    table.table.table-bordered.table-hover
      thead.thead-light
        tr
          th Día
          th Horario
      tbody
        each horario in gruposPorFecha
          tr
          
            td= horario[0].fecha  
            td
           
              each hora in horario
               
                                     
                  form.mx-5(action="/seleccionar" method="POST" )
                        input(type="hidden" name="fecha" value=hora.fecha)
                        input(type="hidden" name="hora_inicio" value=hora.hora_inicio)
                        input(type="hidden" name="clave_horario" value=hora.clave_horarios)
                        input(type="hidden" name="dni")
                        button.btn.btn-outline-primary(type='submit') #{hora.hora_inicio} 
        
         

  script.
    function seleccionarHorario(form) {
      const imput_dni= document.createElement("imput")
      const div_dni= document.createElement("div")
      div_dni.appendChild(imput_dni)
      encabezado.appendChild(div_dni)
      console.log("Holaaaa")
      const dni = prompt("Para solicitar turno debe estar registrado en el sistema. Ingrese su DNI:");

      if (dni) {
        
        form.dni.value = dni;
      
        form.submit();
        return true;
      } else {
        console.log("Holaaaall")
        alert('Debe ingresar un DNI para continuar.');
        return false;
      }
    }


