extends ../layoutOp

block contenido
  div.container.mt-5
    h1.text-center#encabezado Horarios del Dr./Dra. #{medico}
    h1.text-center#encabezado Especialidad #{especialidad}
            
            br
            if sobreturno
                    form.mx-5(action="/seleccionar" method="POST" )   
                        h3 El dia de hoy ya no hay turno disponibles
                        h4 Cantidad de sobreturnos disponibles
                        h2= cantidadSobreturnosDisp
                        input(type="hidden" name="clave_agenda" value= clave_agenda)
                        input(type="hidden" name="motivo_consulta" value="sobreturno")
                        input(type="hidden" name="sobreturno" value="sobreturno") 
                        button.btn.btn-outline-primary(type='submit') Sobreturno      
                 
   
    table.table.table-bordered.table-hover
      thead.thead-light
        tr
          th Día
          th Horario
      tbody
        each horario in gruposPorFecha
          tr
            td= horario[0].fecha  
            td
              each hora in horario
                form.mx-5(action="/seleccionar" method="POST")
                  input(type="hidden" name="fecha" value=hora.fecha)
                  input(type="hidden" name="hora_inicio" value=hora.hora_inicio)
                  input(type="hidden" name="clave_horario" value=hora.clave_horarios)
                  input(type="hidden" name="dni")

                  
                  if hora.descripcion === "vacaciones"
                      p VACACIONES 
                  else if hora.descripcion === "feriado"  
                      p FERIADO
                  else
                  button.btn.btn-outline-primary(type='submit') #{hora.hora_inicio}
