extends ../layoutOp

block contenido
    h1.text-center.mt-4 Lista de Pacientes
    if errorMessage
        .alert.alert-warning(role="alert") #{errorMessage}
    form.mx-5.text-center(action="/paciente/busqueda/dni" method="post")
        .mb-3
            label(for="dni" class="form-label") Buscar por DNI
            input#dni.form-control(name="dni", type="text", placeholder="Ingrese DNI" required)
            input.btn.btn-info(type="submit", value="Buscar")

    form.mx-5.text-center(action="/paciente/busqueda/nombre" method="post")
        .mb-3
            label(for="nombre" class="form-label") Buscar por Nombre
            input#dni.form-control(name="nombre", type="text", placeholder="Ingrese Nombre" required)
            input.btn.btn-info(type="submit", value="Buscar")
            
    
    .container.mt-4
    

        table.table.table-striped.table-hover
            thead.thead-dark
                tr 
                    th Dni
                    th Nombre Completo
                    th Teléfono
                    th Correo Electrónico
                    th Obra Social
                    th DNI Imagen
                    th Acciones
            tbody 
                each paciente in pacientes
                    tr  
                        td= paciente.dni
                        td= paciente.nombre_completo
                        td= paciente.telefono 
                        td= paciente.mail
                        td= paciente.obra_social 
                        td
                            if paciente.dni_imagen
                                img(src=`/uploads/${paciente.dni_imagen}`, alt="DNI", width="80") 
                            else
                                span.text-muted Sin imagen
                        td
                            a(href=`/paciente/editar?dni=${paciente.dni}` class="btn btn-info btn-sm mr-2")
                                i.fa.fa-pencil-alt.mr-1 
                                | Editar
                            a(href=`/paciente/borrar?dni=${paciente.dni}` class="btn btn-danger btn-sm")
                                i.fa.fa-trash-alt.mr-1 
                                | Borrar
