extends ../layoutOp

block contenido
    h1 Formulario de Paciente
    form(action= `/paciente?clave_sucursal=${clave_sucursal}` method="post" enctype="multipart/form-data" class="container mt-4")
        input(type="hidden" name="dni" value=dni)
        input(type="hidden" name="clave_horario" value=clave_horario)
        if !exist 
            .form-group
                label(for="nombre_completo") Nombre Completo
                input.form-control(name="nombre_completo", type="text", placeholder="Ingrese un nombre" required)
            br
            .form-group
                label(for="telefono") Teléfono
                input.form-control(name="telefono", type="number", placeholder="Ingrese un teléfono" required)
            br
            .form-group
                label(for="mail") Correo Electrónico
                input.form-control(type="email", name="mail", placeholder="juan@mail.com" required)
            br

        // Campos que siempre se muestran
        .form-group
            label(for="obra_social") Obra Social
            input.form-control(name="obra_social", type="text", placeholder="Ingrese su obra social" required)
            if exist
                input(type="hidden" name="nombre_completo" value="")
                input(type="hidden" name="telefono" value="")
                input(type="hidden" name="mail" value="")
        br
     
        if clave_horario
            button.btn.btn-primary(type="submit") Agendar turno
        else if sobreturno 
            input(type="hidden" name="fecha_sobreturno" value=fecha_sobreturno)
            input(type="hidden" name="clave_agenda" value=clave_agenda)
            input(type="hidden" name="motivo_consulta" value="sobreturno")
            input(type="hidden" name="sobreturno" value="sobreturno") 
            button.btn.btn-primary(type="submit") Agendar sobreturno
        else
            button.btn.btn-primary(type="submit") Agregar
